
.addBtn {
    text-align: center;
    width: 65px;
    height: 30px;
	background-color: #67A70C;
	display: inline-block;
	border-radius: 5px;
	padding-top: 3px;
}

.addBtnATag{
font-size: 15px;
color: #fff;
text-decoration: none;
}

.search_container{
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.2em;
  width: 250px;
  background: #eb6100;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
  background: #eb6100;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #fff;
  position: absolute;
  height: 2.5em;
  right: 8px;
  top: -10px;
  outline : none;
}
.search_container ::-webkit-input-placeholder {
  color: #fff;
}

table{
  margin-top: 100px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th {
  color: #89C3EB;
}

table th,table td{
  padding: 10px 0;
  text-align: center;
}

table tr:nth-child(even){
  background-color: #eee
}
